:root {
  --font-font-family: "Almarai-Regular", Helvetica;
  --font-font-size: 25px;
  --font-font-style: normal;
  --font-font-weight: 400;
  --font-letter-spacing: 0px;
  --font-line-height: normal;
}
