.market-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.market-page .overlap-wrapper {
  height: 963px;
  overflow: hidden;
  width: 1920px;
}

.market-page .overlap {
  height: 963px;
  left: -2px;
  position: relative;
  width: 1935px;
}

.market-page .logo {
  height: 963px;
  left: 469px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1271px;
}

.market-page .watchlist-data {
  height: 77px;
  left: 414px;
  position: absolute;
  top: 290px;
  width: 1521px;
}

.market-page .overlap-group {
  background-color: #1a636c99;
  border-radius: 12px;
  height: 33px;
  left: 455px;
  position: absolute;
  top: 0;
  width: 166px;
}

.market-page .div-wrapper {
  background-color: #005d69;
  border-radius: 12px;
  height: 33px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 44px;
}

.market-page .text-wrapper {
  color: #ffffff;
  font-family: "Almarai", Helvetica;
  font-size: 25px;
  font-weight: 700;
  left: 12px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 3px;
  white-space: nowrap;
}

.market-page .div {
  color: #ffffff;
  font-family: "Almarai", Helvetica;
  font-size: 25px;
  font-weight: 700;
  left: 90px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 3px;
  white-space: nowrap;
}

.market-page .text-wrapper-2 {
  color: #00000070;
  font-family: "Almarai", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 79px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 29px;
  white-space: nowrap;
}

.market-page .text-wrapper-3 {
  color: #000000;
  font-family: "Almarai", Helvetica;
  font-size: 25px;
  font-weight: 700;
  left: 79px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.market-page .text-wrapper-4 {
  color: #39af15;
  font-family: "Almarai", Helvetica;
  font-size: 25px;
  font-weight: 700;
  left: 332px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.market-page .text-wrapper-5 {
  color: #39af15;
  font-family: "Almarai", Helvetica;
  font-size: 15px;
  font-weight: 700;
  left: 327px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 28px;
  white-space: nowrap;
}

.market-page .overlap-group-2 {
  background-color: #1a636c99;
  border-radius: 12px;
  height: 33px;
  left: 681px;
  position: absolute;
  top: 0;
  width: 166px;
}

.market-page .line {
  height: 6px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 71px;
  width: 1505px;
}

.market-page .polygon {
  height: 8px;
  left: 311px;
  position: absolute;
  top: 34px;
  width: 11px;
}

.market-page .my-watchlist {
  height: 143px;
  left: 416px;

  top: 128px;
  width: 1519px;
}

.market-page .img {
  height: 6px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 137px;
  width: 1505px;
}

.market-page .text-wrapper-6 {
  color: #00000070;
  font-family: "Almarai", Helvetica;
  font-size: 25px;
  font-weight: 700;
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 98px;
  width: 132px;
}

.market-page .text-wrapper-7 {
  color: #00000070;
  font-family: "Almarai", Helvetica;
  font-size: 25px;
  font-weight: 700;
  left: 246px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 95px;
  white-space: nowrap;
}

.market-page .text-wrapper-8 {
  color: #00000070;
  font-family: "Almarai", Helvetica;
  font-size: 25px;
  font-weight: 700;
  left: 512px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 95px;
  white-space: nowrap;
}

.market-page .text-wrapper-9 {
  color: #00000070;
  font-family: "Almarai", Helvetica;
  font-size: 25px;
  font-weight: 700;
  left: 739px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 95px;
  white-space: nowrap;
}

.market-page .text-wrapper-10 {
  color: #05233f;
  font-family: "Almarai", Helvetica;
  font-size: 45px;
  font-weight: 700;
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 22px;
  white-space: nowrap;
}

.market-page .line-2 {
  height: 4px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: 1506px;
}

.market-page .sidebar {
  height: 963px;
  left: 0;
  position: absolute;
  top: 0;
  width: 424px;
}

.market-page .overlap-2 {
  height: 963px;
  position: relative;
  width: 416px;
}

.market-page .rectangle {
  background-color: #05233f;
  height: 963px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 414px;
}

.market-page .logo-2 {
  height: 66px;
  left: 32px;
  object-fit: cover;
  position: absolute;
  top: 41px;
  width: 54px;
}

.market-page .text-wrapper-11 {
  color: #ffffff;
  font-family: "Myanmar Khyay-Regular", Helvetica;
  font-size: 35px;
  font-weight: 400;
  left: 103px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 55px;
}

.market-page .rectangle-2 {
  background-color: #13adc0;
  border-radius: 5px;
  height: 65px;
  left: 0;
  opacity: 0.2;
  position: absolute;
  top: 323px;
  width: 414px;
}

.market-page .rectangle-3 {
  background-color: #ffffff;
  border-radius: 5px;
  height: 65px;
  left: 2px;
  opacity: 0.2;
  position: absolute;
  top: 237px;
  width: 414px;
}

.market-page .rectangle-4 {
  background-color: #13adc0;
  border-radius: 5px;
  height: 65px;
  left: 0;
  opacity: 0.2;
  position: absolute;
  top: 151px;
  width: 414px;
}

.market-page .text-wrapper-12 {
  color: #8eecf7;
  font-family: "Almarai", Helvetica;
  font-size: 35px;
  font-weight: 400;
  left: 94px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.5;
  position: absolute;
  top: 161px;
  white-space: nowrap;
}

.market-page .text-wrapper-13 {
  color: #ffffff;
  font-family: "Almarai", Helvetica;
  font-size: 35px;
  font-weight: 400;
  left: 94px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.5;
  position: absolute;
  top: 250px;
  white-space: nowrap;
}

.market-page .text-wrapper-14 {
  color: #8eecf7;
  font-family: "Almarai", Helvetica;
  font-size: 35px;
  font-weight: 400;
  left: 94px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.5;
  position: absolute;
  top: 339px;
  white-space: nowrap;
}

.market-page .line-3 {
  height: 65px;
  left: 2px;
  position: absolute;
  top: 237px;
  width: 9px;
}

.market-page .searchbar {
  height: 42px;
  left: 843px;
  position: absolute;
  top: 50px;
  width: 1051px;
}

.market-page .overlap-3 {
  background-color: #1a636c99;
  border-radius: 12px;
  height: 42px;
  left: 0;
  position: absolute;
  top: 0;
  width: 614px;
}

.market-page .text-wrapper-15 {
  color: #ffffff;
  font-family: var(--font-font-family);
  font-size: var(--font-font-size);
  font-style: var(--font-font-style);
  font-weight: var(--font-font-weight);
  left: 54px;
  letter-spacing: var(--font-letter-spacing);
  line-height: var(--font-line-height);
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.market-page .search {
  height: 25px;
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 8px;
  width: 24px;
}

.market-page .text-wrapper-16 {
  color: #05233f;
  font-family: "Almarai", Helvetica;
  font-size: 25px;
  font-weight: 400;
  left: 842px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5px;
  white-space: nowrap;
}
