.brand-name {
    color: #ffffff;
    font-family: "Myanmar Khyay-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
}
.custom-button {
    position: relative;
    background-color: #093F5A;
    font-size: 2rem; 
    padding: 0.25em 2em 0.25em 2em; 
    color: #4C95A9; 
    border: none;
}
.custom-button:hover {
    background-color: #385066!important;
    color: #9BA7B3!important;
}
.custom-button:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2%;
    height: 100%;
    background-color: #8EECF8;
    color: white;
}