<p>Dear <%= @user.first_name %>,</p>

<p>We are happy to inform you that you have been approved as a trader!</p>
<p>You may now use your account to buy and sell stocks.</p>

<p>Click on the link below to be re-directed to the login page:</p>

<p>Best regards,<p>
<p>The Our Website Team</p>